@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Mona;
  src: url("/fonts/Mona-Sans.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

html {
  font-family: Mona;
}
