@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Mona;
  src: url("/fonts/Mona-Sans.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

html {
  font-family: Mona;
}
